/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
select#sel1 {
    color: #999;
}
body {
	font-family: 'Raleway', sans-serif;
	padding: 0px;
	margin: 0px;
	font-size: 14px;
	color: #909090;
}
.navbar-inverse {
	background-color: #222;
	border-color: #080808;
	padding: 15px 0;
}
a.navbar-brand {
	padding: 10px;
}
#main-head {
	padding: 120px 0 30px;
}
#main-head .main-text-head {
	width: 100%;
	float: left;
	padding: 140px 0 0;
}
#main-head .main-text-head h2 {
	font-size: 34px;
	color: #494949;
	font-weight: 500;
	padding:12px 0;
}
#main-head .main-text-head h1 {
	font-size: 44px;
	color: #0096ff;
	font-weight:500;
}
#main-head .main-text-head p {
	font-size: 18px;
	color: #909090;
	font-weight: 400px;
	line-height: 30px;
	padding: 30px 0;
}
.form-right-text {
	background-color: #0096ff;
	padding: 30px;
	border-radius: 20px;
	width: 100%;
	float: left;
	box-shadow: 1px 1px 10px #dfdfdf;
}
.form-right-text-one {
	background-color: #0096ff;
	padding: 30px;
	border-radius: 20px;
	width: 100%;
	float: left;
	box-shadow: 1px 1px 10px #dfdfdf;
}
input.form-control-text-one
{
    	color: #fff;
}
.form-text h2 {
	color: #fff;
	padding: 15px 0px;
	font-size: 36px;
	font-weight: 600;
}
.form-text p {
	color: #fff;
	padding: 2px 0px 30px;
	font-size: 18px;
	font-weight: 400;
}
input.form-control {
	height: 45px;
	border-radius: 0px;
}
label {
	color: #fff;
}
.btn-box {
	width: 100%;
	text-align: center;
}
.btn-black {
	padding: 10px 70px;
	color: #fff;
	background-color: #000;
	border-radius: 0px;
	font-weight: 500;
	letter-spacing: 2px;
	font-size: 18px;
	text-transform: uppercase;
}
.btn-black:hover {
	padding: 10px 70px;
	color: #fff;
	background-color: #111;
	border-radius: 0px;
	font-weight: 500;
	letter-spacing: 2px;
}
input[type="checkbox"] {
	background: #fff;
	height: 20px;
	width: 20px;
	padding: 0px;
	margin: 0px 10px 0 0;
}
.btn-success-white {
	background-color: #fff;
	color: #333;
	border-radius: 0px;
}
.form-control-text {
	/* display: block; */
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #fff;
	background-color: transparent;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 0px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
footer {
	background-color: #000;
	padding: 30px 0;
}
footer .text-left {
	width: 100%;
	float: left;
}
footer .text-left p {
	color: #fff;
	font-size: 16px;
}
.menu-footer {
	list-style-type: none;
}
.menu-footer li {
	list-style-type: none;
	display: inline-block;
}
.menu-footer li a {
	color: #fff;
	font-size: 16px;
	text-decoration: none;
	padding: 0px 20px;
}
.main-text-head a {
	font-size: 20px;
	color: #333;
	text-decoration: none;
}
#profile p {
    line-height: 24px;
    color: #333;
    padding: 20px;
}

#messages p {
    line-height: 24px;
    color: #333;
    padding: 20px;
}
#settings p {
    line-height: 24px;
    color: #333;
    padding: 20px;
}



@media (max-width: 480px) {
    
    #tab-bar-img .thumbnail-img {
    
    margin: 0px 0px 20px;
}
    
#main-head .main-text-head {
	padding: 20px 0 40px;
}
#work-done .work-done-text {
    padding: 20px !important;
}
#work-done .work-done-text .done-text {
   
    padding: 30px 0;
}
#tab-bar-img {
    padding: 80px 0 50px !important;
    background-color: #f1efeb;
}
.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
    width: 50%;
    text-align: center;
    border-bottom: 1px solid #ddd;
   
}

#main-head .main-text-head h2 {
	font-size: 32px;
}
#main-head .main-text-head h1 {
	font-size: 40px;
	line-height: 62px;
}
#main-head .main-text-head p {
	font-size: 14px;
	color: #909090;
	font-weight: 400px;
	line-height: 30px;
	padding: 10px 0;
}
.main-text-head a {
	font-size: 16px;
	font-weight: 600;
}
.form-right-text {
	padding: 20px;
}
.form-text h2 {
	font-size: 28px;
}
.form-text p {
	color: #fff;
	padding: 2px 0px 20px;
	font-size: 14px;
	font-weight: 400;
}
.menu-footer {
	list-style-type: none;
	text-align: center;
	padding: 10px 0;
}
footer .text-left p {
	color: #fff;
	font-size: 16px;
	text-align: center;
	padding: 20px 0;
}
}


#image-details
{

	padding:150px 0 50px;
	background-color:#f1efeb;
}

#image-details .image-test {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
    
}
#image-details .image-test img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}
#image-details .image-test-text h2 {
    font-size: 26px;
    line-height: 35px;
    color: #000;
    padding: 20px 0;
	font-weight:600;
}

#image-details .image-test-text ul li {
    font-size: 17px;
    line-height: 0px;
    color: #333;
    padding: 20px 0;
	font-weight:500;
}

#image-details  .done-text {
    width: 100%;
    text-align: center;
    display: inline-block;
    text-decoration: none;
}
#tab-bar-img
{
	padding:150px 0 50px;
	background-color:#f1efeb;
	
}
.main-heading
{
    text-align: center;
    font-size: 24px;
    color: #444;
    padding: 50px 0 20px;
    font-weight: bold;
}
#tab-bar-img .nav-tabs {
	border-bottom: 2px solid #DDD;
	background-color:#fff;
	
}




#tab-bar-img .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
	border-width: 0;
}
#tab-bar-img .nav-tabs > li > a {
	border: none;
	color: #666;
}
#tab-bar-img .nav-tabs > li.active > a, .nav-tabs > li > a:hover {
	border: none;
	color: #4285F4 !important;
	background: transparent;
}
#tab-bar-img .nav-tabs > li > a::after {
	content: "";
	background: #4285F4;
	height: 2px;
	position: absolute;
	width: 100%;
	left: 0px;
	bottom: -1px;
	transition: all 250ms ease 0s;
	transform: scale(0);
}
#tab-bar-img .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after {
	transform: scale(1);
}
#tab-bar-img .tab-nav > li > a::after {
	background: #21527d none repeat scroll 0% 0%;
	color: #fff;
}
#tab-bar-img .tab-pane {
	padding: 15px 0;
}
#tab-bar-img .tab-content {
	padding:0px;
}
#tab-bar-img .thumbnail-img
{
	
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffff;
    margin-bottom: 20px;

}

#tab-bar-img .thumbnail-img img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}

#tab-bar-img .thumbnail-img .caption {
    background: #fff;
    padding: 20px 0;
    width: 100%;
}
#tab-bar-img .thumbnail-img .caption .caption-text
{
	width: 100%;
    padding: 5px 15px;
    color: #333;
    font-weight: 600;
}
#tab-bar-img .main-tab
{
	padding:20px 0;
}


#work-done
{
	padding:30px 0 80px;
	background:#fff;
}
#work-done .work-done-text
{
	width:100%;
	padding:80px 0;
}
#work-done .work-done-text .done-text
{
	width:100%;
	text-align:center;
}
#work-done .work-done-text .done-text img
{
	display:inline;
	text-align:center;
}
#work-done .work-done-text .done-text h3
{
	font-weight:500;
	font-size:16px;
	text-align:center;
	padding:20px 0 10px;
	color:#000;
}
#work-done .work-done-text .done-text p
{
	font-weight:500;
	font-size:18x;
	text-align:center;
}
.table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
  
    padding: 16px 10px;
	font-weight:600;
}
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid #ddd;
    padding: 20px;
}



#breadcrumb-part {
    padding: 130px 0 50px;
    background-color: #f8f8f8;
}
#breadcrumb-part .main-breadcrumb {
    width: 100%;
    text-align: center;
}
#breadcrumb-part .main-breadcrumb h2 {
    color: #444444;
    font-size: 24px;
  font-weight:600;
}


ul.dropdown-menu p {
    padding: 10px;
}
.dropdown-menu>li>a
{
	padding:10px 20px;
}
#navbar a {
    color: #fff;
    text-decoration: none;
}
#work-done-forgot
{
	padding:100px 0;
}
#work-done-forgot .forgot-text
{
	width:100%;
	text-align:center;
	}
	.done-forgot-text
	{
		background-color:#f3f3f3;
		padding:30px;
		margin-top:100px;
		
	}
.done-forgot-text h2
{
	text-align:center;
	padding:20px 0;
	font-size:24px;
	text-align:center;
	color:#333;
	font-weight:bold;
}
.done-forgot-text p
{
	text-align:center;
	font-size:16px;
	padding:20px 0;
	text-align:center;
	color:#333;
}

#profile-box
{
	padding:130px 0 50px;
}

.table-bordered label {
   
    color: #333;
    padding: 12px 0 0;
}
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid #ddd;
    padding: 20px 10px 5px;
}



#main-edit
{
	padding: 130px 0 50px;
	background-color:#f1efeb;
}
#main-edit .main-edit-add ul
{
	list-style-type:none;
	float:right;	
}
.page-heading h2{
	font-size: 30px;
	text-align: center;
	color: #555;
}
#main-edit .main-edit-add ul li
{
	display:inline;
	
}
#main-edit .main-edit-add{
	text-align: right;
}
#main-edit .main-edit-add .btn-blue
{
	display: inline-block;
	color:#fff;
	text-decoration:none;
	font-size:18px;
	padding:10px 30px;
	background-color:#0096ff;
}


.form-action
{
	width:100%;
	float:left;
	padding:40px 0;
}
.form-action .control-label {
    color: #555;
    padding: 10px 0;
    font-size: 16px;
    font-weight: bold;
}
input.form-control-text {
    color: #444;
    
}
input.form-control-text::placeholder{
	color: #dadada;
}
#main-editone
{
	padding:10px 0 40px;
	background-color:#fff;
}
.img-upload img {
    display: inline;
}


.img-upload {
    width: 100%;
    text-align: center;
    	padding:40px 0 40px;
 
}
.form-group p {
    font-size: 16px;
    margin: 5px 0;
    color:#333;
}
#tab-bar-img .card .gur
{
	    width: 100%;
    padding: 0 18px 30px 0;
    text-align: right;

}
#tab-bar-img .card .gur .btn-blue
{
	    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 30px;
    background-color: #0096ff;
}
#main-editone .form-action .form-control-text
{
	color:#444;
}

/*edited by pragya */
.button-right{
	float: right;
    padding: 10px;
}
.img-size{
	width:35px;
	height:35px;
}
input.form-control-text-on {
    padding: 8px;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
}
#image-details .button-right .btn-del
{
	padding:8px 12px;
	background-color:#3498db;
	color:#fff;
	text-decoration:none;
	font-size:15px;
	border-radius:0px;
	}
#image-details .button-right .btn-edit
{
		padding:8px 12px;
	background-color:#2ecc71;
	color:#fff;
	text-decoration:none;
	font-size:15px;
	border-radius:0px;
	}
#image-details .button-right .btn-view
{
		padding:8px 12px;
	background-color:#e67e22;
	color:#fff;
	text-decoration:none;
	font-size:15px;
	border-radius:0px;
	}

  .btn-yelow
	{
		background-color:#ffd865;
		width:20px;
		height:20px;
		border-radius:50px;
	}
	.btn-brwon
	{
		background-color:#bf9000;
		width:20px;
		height:20px;
		border-radius:50px;
	}
	.btn-red
	{
		background-color:#ff0000;
		width:20px;
		height:20px;
		border-radius:50px;
	}
.btn-green
	{
		background-color:#538135;
		width:20px;
		height:20px;
			border-radius:50px;
	}
	
	a.btn-bk .fa {
    font-size: 16px;
    color: #666;
    padding: 0px 2px;
}

.image-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin-bottom: 20px;
}
#table-data
{
	padding: 60px 0;
	width: 100%;
}


#work-done .panel-body
{
    padding:40px 0;
}
#work-done .input-group
{
    padding: 40px 0;
}
#work-done .form-control-text {
    color: #444;
    padding: 25px 15px;
    font-size: 18px;
}
#work-done a.btn.btn-default.text-muted {
      padding: 14px;
    border-radius: 0px;
    font-size: 16px;
}
#work-done button.btn.btn-info {
    padding: 14px;
    border-radius: 0px;
    font-size: 16px;
}
#image-details .owl-carousel .owl-item .item{
width: 100%;
        height: 300px;
   
}
#image-details .owl-carousel .owl-item .item img{
max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    display: block;
        
}

#table-data .owl-carousel .owl-item .item{
width: 100%;
    height: 300px;
    
}
#table-data .owl-carousel .owl-item .item img{
max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    display: block;
         
}
.owl-carousel .owl-item img {
    display: block;
    width: auto !important;
}

.doc-img
            {
            	width:100%;
				float:left;
				padding:20px 0;
			}
			.doc-img ul
			{
				list-style-type:none;
			}
			.doc-img ul li
			{
				display:inline;
				padding:10px;
			}